.btn-business {
    color: #fff;
    background-color: #02078E;
    border-color: #02078E;
  }
  
  .btn-business:hover {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
  }
  
  .btn-business:focus,
  .btn-business.focus {
    color: #fff;
    background-color: #2e59d9;
    border-color: #2653d4;
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
  }